<div class="cart-container">
  <div class="cart-item">
    <img
      class="item-img"
      src="{{ cartItem.product.img_url }}"
      onerror="this.src='https://picsum.photos/id/1/200/300'"
    />
  </div>
  <div class="cart-item-details">
    <h1>{{ cartItem.product.name }}</h1>
    <h2>Price: {{ cartItem.product.price }}</h2>
    <mat-form-field appearance="fill">
      <input
        matInput
        type="number"
        value="{{ cartItem.qty }}"
        max="9999"
        min="0"
        [(ngModel)]="cartItem.qty"
        (change)="handleChange()"
      />
    
    </mat-form-field>
    <h3>SubTotal: {{ (cartItem.qty * cartItem.product.price).toFixed(2) }}</h3>
  </div>
</div>
