<div class="cart-container">
  <div class="cart-item">
    <img
      class="item-img"
      src="{{ cartItem.product.img_url }}"
      onerror="this.src='https://picsum.photos/id/1/200/300'"
    />
  </div>
  <div class="cart-item-details">
    <h1>{{ cartItem.product.name }}</h1>
    <h2>Price: {{ cartItem.product.price }}</h2>
    <input type="number" value="{{cartItem.qty}}" max="9999" min="0" [(ngModel)]="cartItem.qty" (change)="handleChange()">
    <h3>Quantity: {{ cartItem.qty }}</h3>
  </div>
</div>
