<div class="product-display">
  <div>
    <app-cart-item
      *ngFor="let cartItem of cart"
      [cartItem]="cartItem"
      (addCartItem)="addCartItem($event)"
      (removeCartItem)="removeCartItem($event)"
    ></app-cart-item>
    <div>
      Total: <span style="font-weight: bold">{{ total }}</span>
    </div>
  </div>
  <form #form="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        value=""
        [(ngModel)]="user.full_name"
        name="full_name"
        placeholder="Full Name"
        required
        minlength="4"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        value=""
        [(ngModel)]="user.address"
        name="address"
        placeholder="Address"
        required
        minlength="4"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        value=""
        [(ngModel)]="user.cc"
        name="cc"
        placeholder="Credit card"
        required
        minlength="16"
        pattern="\d*"
      />
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="confirm()"
    >
      Submit
    </button>
    <!-- <button mat-button (click)="emptyCart()">
      <mat-icon>clear_all</mat-icon>
      Empty Cart
    </button> -->
  </form>
</div>
<!-- <div>
</div> -->
