<p>{{product.name}}</p>
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img
      src="{{ product.img_url }}"
      onerror="this.src='https://picsum.photos/id/1/200/300'"
    />
    <mat-card-content>
      <p>
        {{ product.descr }}
      </p>
    </mat-card-content>
    <mat-card-actions>
   
    </mat-card-actions>